.ButtonStyle {
    height: 44px;
    border: 1px solid #0b5391;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease;
    padding: 0 20px 1px 20px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    color: #0b5391;
}