.FilterTitle {
    color: rgb(125, 125, 241);
    font-weight: bolder;
    border-bottom: 1px solid rgb(125, 125, 241);
    padding-bottom: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;

}