







.SelectTest{
    width: 100%;
    padding: 0 40px 0 15px;
    height: 44px;
    border: 1px solid #bebebe;
    background: #fff;
    
}

.UlTest {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 20px;
}


.ListNew {
    padding: 12px 5px 15px 5px;
    flex: 1 1 auto;
    width: 65%;
    display: flex;
}

.DivListo {
    display: inline-block;
    flex: 1 1 33%;
    width: 33%;
    padding-bottom: 0;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    
}