.MainContainer {
    width: 294px;
    padding: 25px 0 45px 0;
    float: left;
    // width: 294px;
    // padding: 25px 0 45px 0;
    // float: left;
    // box-shadow: 0 5px 5px 0 rgba(0,0,0,.04);
    // border: 1px solid #e7e7e7;
    // padding: 15px 22px;
    // margin: 0 0 20px 10px;
  
}

.LiTest{
    list-style:none;
}
.Aside {
    color: #fff;
    background: rgb(125, 125, 241);
    padding:6px 10px 6px 22px ;

}

.FilterTitle {
    color: rgb(125, 125, 241);
    font-weight: bolder;
    border-bottom: 1px solid rgb(125, 125, 241);
    padding-bottom: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
